= form_for @user, url: settings_path do |form|
  = render 'shared/addresses',  address_obj: obj, f: form
  .text-center.general-text-align
    = form.submit :save, class: 'btn btn-default', value: 'Save'