.thumbnail.general-thumbnail
  = image_tag book.photo, class: 'img-shadow, general-thumbnail-img', alt: "design-book"
  .thumb-hover
    .general-thumb-link-wrap
      = link_to book_path(book), class: 'thumb-hover-link' do
        %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
      = link_to orders_path, method: :post, class: 'thumb-hover-link' do
        %i.fa.fa-shopping-cart.thumb-icon