button.thumb-hover-link {
  background: none;
}

.alert.alert-notice{
  background: #DFF0D8;
  color:#41794B;
}

a:hover{
  text-decoration: none;
}

.shop-icon:empty{
  background-color: transparent;
}
