.general-text-align
  %p.in-gold-500.font-18 Order Summary
  %table.general-summary-table
    %tr
      %td
        %p.font-16 Subtotal:
      %td
        %p.font-16 &euro;#{show(order, :subtotal)}
    %tr
      %td
        %p.font-16 Shipping:
      %td
        %p.font-16 &euro;#{delivery_price(order)}
    - if order.discount_applied
      %tr
        %td
          %p.font-16 Coupon:
        %td
          %p.font-16 &euro;#{order.recalculate_discount}
    %tr
      %td
        %strong.font-18 Order Total:
      %td
        %strong.font-18 &euro;#{show(order, :total)}